/** @format */

.App {
  min-height: 100vh;
  background-image: linear-gradient(
    #4424ab 15%,
    #090009 100%
  ); /*old color #d12fd1*/
  background-attachment: fixed;
}

.search-form {
  margin-bottom: 10px;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 20%;
  border: none;
  outline: none;
  border-radius: 7px 0px 0px 7px;
  padding: 10px;
  font-size: 15px;
}

/* .search-bar:focus{
  outline:none;
} */

.search-button {
  font-size: 15px;
  border-radius: 0px 7px 7px 0px;
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.end-spacer {
  height: 70vh;
}
